.wrapper {
    display: block;
    margin: 30px auto;
    padding: 30px 15px;
    max-width: 800px;
    border: 1px solid #d0d4dc;
    border-radius: 3px;
    font-size: 18px;
}

.fieldRow {
    display: block;
    margin-bottom: 30px;
}

.label {
    font-weight: bold;
}

.fileUploadWrapper {
    padding: 30px;
    background-color: #d0d4dc;
    text-align: center;
}
.fileUploadItem {
    display: inline-block;
    vertical-align: top;
}

.fileUploadItem + .fileUploadItem {
    margin-left: 30px;
}

@media screen and (max-width: 480px) {
    .fileUploadItem {
        display: block;
        margin-bottom: 15px;
    }

    .fileUploadItem + .fileUploadItem {
        margin-left: 0;
    }
}

.button {
    flex: 0 0 200px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: #d3394c;
    color: #fff;
    cursor: pointer;
    border: 2px solid #d3394c;
    outline: 0 none;
    transition: all 0.1s linear;
    border-radius: 3px;
}

.button:hover,
.button:active {
    background-color: #ba5863;
}

.searchButton {
    border-radius: 0 3px 3px 0;
}

.buttonThemeSimple {
    background-color: #fff;
    color: #d3394c;
}

.buttonThemeSimple:hover,
.buttonThemeSimple:active {
    background-color: #ffa3ae;
    color: #fff;
}

.button[disabled] {
    background-color: #d0d0d0;
    border-color: #d0d0d0;
    cursor: default;
}

.fileUploadInput:focus + .fileUploadLabel,
.fileUploadInput + .fileUploadLabel:hover {
    background-color: #ba5863;
}

.textField {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d0d4dc;
    background-color: #fff;
    font: 16px/18px Arial, sans-serif;
    outline: 0 none;
}

.textField:focus {
    border-color: #3960d3;
}

.palindrom {
    margin-top: 5px;
    padding: 2px 5px;
    background-color: #d0d4dc;
    border-radius: 3px;
}

.notFound {
    color: #929292;
    font-size: 16px;
}